body{
    margin: 0px;
    font-family: 'Tomorrow','Ubuntu';
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-section{
    padding-left: 5%;
    margin-right: 2%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
p{
    color: dimgray;
}
.color-name{
    color: orange;
}
.half-width{
    padding-left: 5%;
    margin-right: 2%;
}
.half-width img{
    padding-top: 10px;
    width: 30rem;
    height:1fr;
   
}
.background-img{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,orange, tomato);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
    border: none;
}
.background-img2{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.button-color{
    background-image: linear-gradient(45deg, #7D0FEA ,#EA0F9E );
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    border: none;
}
.area-highlight{
    color: orange;
}
.background-img3{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.border-area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
}
#full-stackborder{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,orange,tomato);
    border-image-slice: 1;
    margin-left: 70px;
    padding-left: 25px;   
}
#baby-stackborder{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
    margin-left: 70px;    
    padding-left: 25px;
    margin-top: 7.5rem;
}
.footer{
    grid-column: 1 / 3;
}
footer p{
    margin-top: 12rem;
    text-align: center;
    font-size: 12px;
}