body{
    margin: 0px;
    font-family: 'Tomorrow','Ubuntu';
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.color-name{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.half-width img{
    width: 100%;
}
.background-img{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,orange, tomato);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.background-img2{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.button-color{
    background-image: linear-gradient(45deg, #7D0FEA ,#EA0F9E );
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 5px;
}